@import "compass/css3";

.navigatie {
  list-style: none;
  margin: 0;
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigatie a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigatie a:hover {
  background: darken(deepskyblue, 5%);
}

@media all and (max-width: 800px) {
  .navigatie {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigatie {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigatie a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }


  .navigatie li:last-of-type a {
    border-bottom: none;
  }
}

body{
	background:#999;
	font-family: arial;
}



.loginForm {
	background: deepskyblue;
	padding: 20px;
	margin: 20px 20px 20px 20px;
	color: white;
}

.formRow {
	display: flex;
	padding: 10px;
	padding-left: 20px;
}

.formRow label{
	padding-right: 20px;
	}

.formRow input {
	flex: 1;
}

.Abonnementen{
	max-width: 1300px;
	background-color: #FFF;
	margin: 40px auto 0 auto;
	line-height: 1;
	padding: 20px 50px;
	display: flex;
	justify-content:space-between;
}

.Abonnement{
	margin-bottom: 20px;
	background-color: #999;
	padding: 20px 20px;
	width:30%;
	box-sizing: border-box;
}

.overons{
	max-width: 1400px;
	margin: 40px auto 0 auto;
	display: flex;
	justify-content:space-between;
}

.tekst{
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	width: 30%;
}

.tekst:nth-child(1) {background-color: #c0dbe2;}
.tekst:nth-child(2) {background-color: #cdf1c3;}
.tekst:nth-child(3) {background-color: #ccb9da;}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.trailerBox {
	align-self: center;
	margin-left: 15%;
	margin-right: 15%;
}

.textContainer {
	display: flex;
	flex-direction: column;
}

@media (max-width: 600px) {
	.trailerBox {
		width: 100%;
		height: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
}

.filmoverzicht-container {
  max-width: 100%;
  padding-top: 10px;
  text-decoration: none;
  color: white;
  margin 0 auto;
  display: flex;
  flex-direction: column;
}

.film-container {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
}

.filmoverzichtlinks {
  padding: 10px;
  flex: 1;
  flex-direction: column;
}

.filmtitel {
  text-align: center;
}

.filmcover {
  position: relative;
  display: flex;
  justify-content: center;
}

.filmoverzichtrechts {
  padding: 10px;
  flex: 1;
  text-align: left;
}

.trailerbar {
  text-align: center;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 1000px) {
	.film-container {
    flex-direction: column;
  }
  .filmcover {
    position: relative;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .film-container {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .trailerbar {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}

.filmoverzichtlinks:nth-child(1) {background-color: deepskyblue}
.filmoverzichtrechts:nth-child(2) {background-color: deepskyblue}
