@import url('https://fonts.googleapis.com/css?family=Exo');

*{
	h1, h2, h3, h4, h5, h6, a, span, p, td, li {}

	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	font-family: 'Exo', sans-serif;
}


body{
	background-image: url("img/background.jpg");
	background-size: cover;
}

.hoofd-container{
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
}

nav{
	background: #333;

}

.opacity{
	opacity: 0.7;
}

nav ul{
	list-style-type: none;
	padding: 0;
}

nav a{
	text-decoration: none;
	color: #f4b042;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

nav a:hover{
	background-color: #555;
}

.hoofd-content{
	width: 90%;
	max-width: 940px;
	margin: 2% auto;
	background-image: url("img/backgroundLayer.png");
}

.flex-content{
width: 100%;
flex-wrap: wrap;
}

.box{
	display: block;
	margin:2%;
	padding: 2%;
	text-align: center;
	flex:1 1 0;
}

.knop{
	background: black;
	color: white;
	flex: 0;
	margin: auto auto 0 auto;
}

.box h1{
	color: #f9db52;
}

.box a{
	text-decoration: none;
	color:white;
}

.tekst{
	background-image: url("img/Tekstbackground1.png");
	background-size: cover;
	color: #f4b042;
	flex: 1;
}

.prijs{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 150px;
  height: 150px;
}

.flexbox{
	display: flex;
	flex-direction: column;
	min-width: 25%;
	padding: 2%;
}

.info{
	text-align: left;
}

.trailer{
	text-align: left;
}
.trailertekst{
	text-align: left;
	color: white;
}

.foto{
	width: 90%;
	height:300px;
	align-self:top center;
	margin: 4%;
	padding: 0;
}

.poster{
	width: 90%;
	align-self:top center;
	margin: 4%;
	padding: 0;
}

.style{
	width: 100%;
	align-self: center;
	margin: 0;
	padding: 0%;
}

.flex-content{
	margin: auto;
}

.abonnementForm {
	width: 90%;
	max-width: 940px;
	background: #333;
	padding: 2%;
	margin: 2%;
	color: white;
	align-self: center;
}

.abonnementFormRow {
	display: flex;
	padding: 1%;
}

.abonnementFormRow label{
	padding-right: 2%;
}

.abonnementFormRow input {
	flex: 0 1 0;
}

.videoWrapper {
	flex: 1;
}


@media screen and (min-width: 768px){
	nav ul{
		display: flex;
		justify-content: space-between;
	}

	nav li{
		flex: 1 1 0;
	}

	  nav{
	  	display: flex;
	  	justify-content: space-between;
	  }

	  .hoofd-content{
	  	display: flex;
	  }

	  .box p h1 h3{
	  	flex:1 1 0;
	  }

	.flex-content{
	 display: flex;
		}

.filmoverzicht{
	display: flex;
}

.abonnementFormRow input {
	flex: 1 1 0;
}

.videoWrapper {
	flex: 1;
}

video {
	width: 100%
	height: auto;
}

}
